.home{

  .notice{
    padding-block: 0.625rem;
    background-color: $dividerColor;
    font-size: 14px;
    padding-left: 1.25rem;
    span {
      @include flexRowCenter;
      justify-content: start;

    i {
      width: 1.875rem;
      height: 1.875rem;
      @include flexRowCenter;
      margin-right: 0.625rem;
    }
    }
  }

  .content {
    padding: 2rem;
    height: calc(100dvh - $HeaderHeight - 9.25rem - 3.125rem);
    overflow: auto;
     @include media-breakpoint-only(xs) {
      padding: 1rem;
    }
  }

  .pageActions {
    @include flexColumnCenter;
    gap: 0.625rem;
    padding: 1rem 0 2rem;
  }
}

.dialog {
  .dialogActions {
    gap: 1.25rem;
    padding: 1rem;
    @include flexRowEvenly;

    @include media-breakpoint-only(xs) {
      flex-direction: column;
      gap: 1rem;
    }
  }
}