.header{
  background: linear-gradient(90deg, $color2 0%, $color1 100%);
  padding: 1.25rem;
  height: $HeaderHeight;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  
  h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
  }

  span{
    font-size: 1.25rem;
    color: #fff;
  }
}